body {
    font-family: Arial, sans-serif;
    background: #fff; /* White background */
    color: #000; /* Black text */
    margin: 0;
    padding: 0;
}

.container, .dashboard-container {
    width: 350px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0; /* vertical stacking */
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    background: black;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #333;
}

.error {
    color: red;
    font-size: 0.9em;
}

.logout-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 90px;
    height: 35px;
    font-size: 14px;
    padding: 5px 0;

    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #333;
}

#result {
    margin-top: 15px;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 6px;
    text-align: left;
}

